<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Questionnaire</title>
    <!--Style sheet-->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!--Animation script-->
    <script src="./js/script.js"></script>
    <!--Scrapped Mouse scroll effect-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Confetti effect-->
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
        <div class="title">
            <h1>User Satisfaction Survey</h1>
        </div>
        <div class="website-redirect-button">
            <a class="website-redirect-button-text" href="https://www.adveris.fr/">Check out the original webiste!</a>
        </div>
        <div class="backend-door">
            <button type="button" class="admin-entry"><a style="color: var(--simple-green);" href="./results">Survey Results</a></button>
        </div>
    </section>
    <form action="/submit" method="post" id="body">
        <section id="section1">
            <div class="left-panel panel">
                <div class="hero" id="user-info">
                    <a href="https://www.adveris.fr/"><img class="image3" src="./images/main-logo.png" alt="" id="image"></a>
                    <div class="hero-content">
                        <p>Enter your information</p>
                        <p>First name: <input id="input" type="text" name="firstname"></p>
                        <p>Last name: <input id="input" type="text" name="lastname"></p>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" id="user-info-next" onclick="window.location.href='#section2'">
                        <span>Begin</span>
                    </button>
                </div>
                <div class="short">
                    <p>Click anywhere on the images to be redirected to the website.</p>
                    <p>This short survey should only take 2 minutes to complete !</p>
                </div>
            </div>
            <div class="right-panel panel">
                <div class="image-container">
                    <a href="https://www.adveris.fr/"><img class="image1" src="./images/main-home.png" alt="Website" id="image"></a>
                    <a href="https://www.adveris.fr/"><img class="image2" src="./images/main-home2.png" alt="Website" id="image"></a>
                    <a href="https://www.adveris.fr/"><img class="image4" src="./images/main-home4.png" alt="Website" id="image"></a>
                </div>
            </div> 
        </section>
        <section id="section2">
            <div class="hero" id="question-hero-1">
                <div class="question-content">
                    <p>How would you rate your experience with the website ?</p>
                    <!--Custom star pattern by Michael Tryhall on Codepen-->
                    <div class="ratings">
                        <input type="radio" id="star1" name="rating" value="1" /><input type="radio" id="star2" name="rating" value="2" /><input type="radio" id="star3" name="rating" value="3" /><input type="radio" id="star4" name="rating" value="4" /><input type="radio" id="star5" name="rating" value="5" />
  
                        <label for="star1">1 star</label><label for="star2">2 stars</label><label for="star3">3 stars</label><label for="star4">4 stars</label><label for="star5">5 stars</label>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button" id="question-hero-1-next" onclick="window.location.href='#section3'">
                    <span>Next</span>
                </button>
                <button type="button" id="question-hero-1-previous" onclick="window.location.href='#section1'">
                    <span>Previous</span>
                </button>
            </div>
        </section>
        <section id="section3">
            <div class="hero" id="question-hero-2">
                <div class="question-content">
                    <p>How likely are you to recommend the services based on the look of the website ?</p>
                    <div class="ratings2">
                        <input type="radio" id="2star1" name="rating2" value="1" /><input type="radio" id="2star2" name="rating2" value="2" /><input type="radio" id="2star3" name="rating2" value="3" /><input type="radio" id="2star4" name="rating2" value="4" /><input type="radio" id="2star5" name="rating2" value="5" />
  
                        <label for="2star1">1 star</label><label for="2star2">2 stars</label><label for="2star3">3 stars</label><label for="2star4">4 stars</label><label for="2star5">5 stars</label>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button" id="question-hero-2-next" onclick="window.location.href='#section4'">
                    <span>Next</span>
                </button>
                <button type="button" id="question-hero-2-previous" onclick="window.location.href='#section2'">
                    <span>Previous</span>
                </button>
            </div>
        </section>
        <section id="section4">
            <div class="left-panel panel">
                <p>What aspects of the website do you enjoy the most ?</p>
                <div class="selection1">
                    <input type="checkbox" id="checkbox1" name="design" value="design">
                    <label for="checkbox1">The design</label><br>
                    <input type="checkbox" id="checkbox2" name="content" value="content">
                    <label for="checkbox2">The content</label><br>
                    <input type="checkbox" id="checkbox3" name="navigation" value="navigation">
                    <label for="checkbox3">The navigation</label><br>
                </div>
                <div class="selection2">
                    <input type="checkbox" id="checkbox4" name="responsiveness" value="responsiveness">
                    <label for="checkbox4">The responsiveness</label><br>
                    <input type="checkbox" id="checkbox5" name="experience" value="experience">
                    <label for="checkbox5">The overall experience</label><br>
                    <input type="checkbox" id="checkbox6" name="pallete" value="pallete">
                    <label for="checkbox6">The color pallete</label><br>
                    <input type="checkbox" id="checkbox7" name="none" value="none">
                    <label for="checkbox7">None</label><br>
                </div>
            </div>
            <div class="right-panel panel">
                <div class="slider">
                    <div class="slide">
                        <img src="./images/main-home.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./images/main-assets.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./images/main-slide1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./images/main-slide2.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./images/main-slide3.png" alt="">
                    </div>
                    <button type="button" class="btn btn-next"> > </button>
                    <button type="button" class="btn btn-prev"> < </button>
                </div>
            </div>
            <div class="buttons">
                <button type="button" id="question-hero-3-next" onclick="window.location.href='#section5'">
                    <span>Next</span>
                </button>
                <button type="button" id="question-hero-3-previous" onclick="window.location.href='#section3'">
                    <span>Previous</span>
                </button>
            </div>
        </section>
        <section id="section5">
            <div class="hero" id="question-hero-4">
                <div class="question-content">
                    <p>If you have any comments you'd like to add, feel free to mention them in the section below:</p>
                    <div>
                        <textarea name="comments" id="comments" cols="100" rows="10" class="comments"></textarea>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button" id="question-hero-4-next" onclick="window.location.href='#section6'">
                    <span>Next</span>
                </button>
                <button type="button" id="question-hero-4-previous" onclick="window.location.href='#section4'">
                    <span>Previous</span>
                </button>
            </div>
        </section>
        <section id="section6">
            <div id="question-hero-5">
                <div class="question-content">
                    <p>And finally, what was your first impression of the website ?</p>
                    <div class="selection3">
                        <select name="impression" id="impression">
                            <option value="Very good" name="Very good">Very good</option>
                            <option value="Good" name="Good">Good</option>
                            <option value="Average" name="Average">Average</option>
                            <option value="Bad" name="Bad">Bad</option>
                            <option value="Very bad" name="Very bad">Very bad</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button" id="question-hero-5-next" onclick="window.location.href='#section7'">
                    <span>Next</span>
                </button>
                <button type="button" id="question-hero-5-previous" onclick="window.location.href='#section5'">
                    <span>Previous</span>
                </button>
            </div>
        </section>
        <section id="section7">
            <div class="hero" id="submit">
                <div class="question-content">
                    <p>And that's it!</p>
                    <p>Thank you for taking the time to fill out this survey.</p>
                    <p>It is very important to us that we understand your needs and expectations.</p>
                    <p>It will help us improve our services and provide you with a better experience.</p>
                </div>
            </div>
             <button id="survey-submit" type="submit">
                <span>Submit</span>
            </button>
        </section>
    </form>
    <section class="footer">
        <div class="signature">
            <p>Website designed by Tevin, Christian and Oscar</p>
        </div>
        <div class="github-redirect">
            <p><a href="https://github.com/SEG3125-A/SEG3125-Group43">Check out the repository on GitHub !</a></p>
        </div>
    </section>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<script>
    $(document).ready(function() {
        $("#body").on("submit", function(e) {
            $("#survey-submit").prop("disabled", true);
            e.preventDefault();
            if(validate() == true) {
                confetti({
                particleCount: 100,
                spread: 360,
                origin: { y: 0.6 },
                });
                
                var form = $(this);
                var url = form.attr('action');
                var type = form.attr('method');
                var data = form.serialize();

                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    success: function(response) {
                        Toastify({
                            text: "Thank you for your feedback!",
                            gravity: "bottom",
                            position: "right",
                            className: "success",
                            stopOnFocus: true,
                            style: {
                                background: "green",
                                width: "300px",
                            }
                        }).showToast();
                    }
                })

                
            } else {
                $("#survey-submit").prop("disabled", false);
            }
        })

        function validate() {
            var firstname = $("input[name='firstname']").val();
            var lastname = $("input[name='lastname']").val();

            if(firstname == "" || lastname == "") {
                Toastify({
                    text: "Please fill out your name information.",
                    gravity: "bottom",
                    position: "right",
                    className: "error",
                    stopOnFocus: true,
                    style: {
                        background: "red",
                        width: "300px",
                    }
                }).showToast();
                return false;
            }

            var ratings = document.querySelectorAll('input[type=radio][name=rating]');

            var isRatingChecked = false;
            for (rating of ratings) {
                if (rating.checked) {
                    isRatingChecked = true;
                    break;
                }
            }
            if (!isRatingChecked) {
                Toastify({
                    text: "Please answer the second question.",
                    gravity: "bottom",
                    position: "right",
                    className: "error",
                    stopOnFocus: true,
                    style: {
                        background: "red",
                        width: "300px", 
                    }
                }).showToast();
                return false;
            }

            var ratings2 = document.querySelectorAll('input[type=radio][name=rating2]');

            var isRating2Checked = false;
            for (rating2 of ratings2) {
                if (rating2.checked) {
                    isRating2Checked = true;
                    break;
                }
            }
            if (!isRating2Checked) {
                Toastify({
                    text: "Please answer the first rating question.",
                    gravity: "bottom",
                    position: "right",
                    className: "error",
                    stopOnFocus: true,
                    style: {
                        background: "red",
                        width: "300px", 
                    }
                }).showToast();
                return false;
            }

            var checkboxes = document.querySelectorAll('input[type=checkbox]');

            var isCheckboxChecked = false;
            for (checkbox of checkboxes) {
                if (checkbox.checked) {
                    isCheckboxChecked = true;
                    break;
                }
            }
            if (!isCheckboxChecked) {
                Toastify({
                    text: "Please answer the second rating question.",
                    gravity: "bottom",
                    position: "right",
                    className: "error",
                    stopOnFocus: true,
                    style: {
                        background: "red",
                        width: "300px", 
                    }
                }).showToast();
                return false;
            }

            var selector = document.getElementById('impression');

            var impression = selector.options[selector.selectedIndex].value;

            if (impression == "") {
                Toastify({
                    text: "Please answer the impression question.",
                    gravity: "bottom",
                    position: "right",
                    className: "error",
                    stopOnFocus: true,
                    style: {
                        background: "red",
                        width: "300px", 
                    }
                }).showToast();
                return false;
            }

            return true;
        }
    })

    $(window).on('load resize', function() {
        if ($(this).innerWidth() > 768) {
            $('#comments').attr('cols', '100');
        } else {
            $('#comments').attr('cols', '50');
        }
    })

    $(window).resize(function() {
    if ($(window).width() < 768) {

    } else {
        $('.selection1').css({
            'display': 'inline-block',
            'width': '50%',
            'font-family': 'var(--text-font)',
            'display': 'flex',
            'gap': '10px',
            'justify-content': 'center',
            'align-items': 'center'
        });

        $('.selection1').children('label').css({
            'align-items': 'center',
            'justify-content': 'center',
            'display': 'flex'
        })

        $('.selection2').css({
            'display': 'inline-block',
            'width': '50%',
            'font-family': 'var(--text-font)',
            'display': 'flex',
            'gap': '10px',
            'justify-content': 'center',
            'align-items': 'center',
            'top' : '20px',
        });

        $('.selection2').children('label').css({
            'align-items': 'center',
            'justify-content': 'center',
            'display': 'flex'
        })
    }
    }).trigger('resize'); // Trigger the resize event initially
</script>
</html>