*{
    transition: all 0.15s ease-in-out; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root{
    --simple-green : rgba(0, 200, 0, 0.373);
    --simple-dark-green : rgba(3, 110, 3, 0.797);
    --simple-beige: #f7ecbe60;
    --simple-grey: #bbbbbb24;

    --hellokidme : "hellokidmeregular", sans-serif;
    --couture-bld : "couture-bld", sans-serif;
    --couture-bldit : "couture-bldit", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'hellokidmeregular';
    src: url('../fonts/hello-kidme-font/HelloKidmeRegular-VG5rl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'couture-bld';
    src: url('../fonts/Couture-Bold/couture-bld.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'couture-bldit';
    src: url('../fonts/Couture-Bold/couture-bldit.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'avocados';
    src: url('../fonts/Avocados/Avocados.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

html{
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    background-color: var(--simple-beige);
}

.hidden{
    display: none;
}

.content{
    position: absolute;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

input{
    display: none;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    height: 70px;
    background-color: var(--simple-beige);
    backdrop-filter: blur(10px);

    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);

    .title{
        font-family: 'couture-bld';
        font-size: 15px;
    }

    .tabs{
        font: 15px 'couture-bld';
        display: flex;
        gap: 20px;
        top: 2%;
        right: 10px;

        :hover{
            cursor: pointer;
            color: var(--simple-green);
        }
    }

    @media (max-width: 500px) {
        .tabs {
            display: none;
        }
    }
}

.content {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    margin-top: 70px;

    #products {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: scroll;

        .titles{
            position: relative;
            width: 100%;
            justify-content: center;
            height: 200px;
        }

        .title{
            margin-top: 20px;
            font-family: 'avocados', sans-serif;
            font-size: 30px;
            color: var(--simple-dark-green);
            transform: skewX(-10deg);
        }

        .subtitle{
            margin-bottom: 15px;
            font-family: 'couture-bld', sans-serif;
            font-size: 40px;
            letter-spacing: 3px; 
        }

        .product-display {
            display: flex;
        }

        .product-grid {
            flex: 1;
            /* min-width: calc(100vw - 900px); */
            max-width: calc(100vw - 500px);
            display: grid;
            margin: auto;
            padding: 60px;
            margin-bottom: 100px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Updated width */
            grid-gap: 30px;

            span {
                opacity: 0;
            }

            :hover {
                transform: scale(1.1);
                span {
                    opacity: 1;
                }
            }
        }

        .side-panel-wrapper{
            position: -webkit-sticky;
            position: sticky;
            margin-top: 70px;
            margin-left: 20px;
            height: 100%;
            z-index: 99;
        }

        .side-panel {
            position: sticky;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            min-width: 500px;
            height: 100%;
            transition: all 0.3s ease-in-out;

            #sidebar {
                width: 100%;
                object-position: center;
                display: flex;
                align-items: center;
                justify-content: center;

                .fixed{
                    position: fixed;
                }
            }

            .desc{
                padding-top: 40px;
            }
        }

        .sorter{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            input{
                display: block;

            }

            .sorter-options{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 30px;
            }

            input[type="checkbox"] {
                position: relative;
                width: 80px;
                height: 40px;
                -webkit-appearance: none;
                appearance: none;
                background: rgb(91, 91, 91);
                outline: none;
                border-radius: 2rem;
                cursor: pointer;
                box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
              }
              
              input[type="checkbox"]::before {
                content: "";
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.5s;
              }
              
              input[type="checkbox"]:checked::before {
                transform: translateX(100%);
                background: #fff;
              }
              
              input[type="checkbox"]:checked {
                background: #acacac;
              }
            .sorter-options{
                margin-bottom: 40px;
            }
              
        }
        
        .itemsperpage-text{
            padding-top: 50px;
        }

        select {
            display: inline-block;
            position: relative;
            width: 200px;
            height: 40px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            margin-top: 20px;
        }

        @media (max-width: 900px) { 
            .product-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
        @media (max-width: 800px) {
            .product-grid {
                grid-template-columns: 1fr;
            }
        }

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.03);
            border-radius: 10px;
            padding: 70px;
            min-height: 350px;
        
            :hover{
                transform: scale(1);
            }

            @media (max-width: 500px) {
                padding: 10px;
            }

            @media (max-width: 1000px) {
                padding: 20px;
            }

            img{
                max-width: 50%;
                max-height: 40%;
                object-fit: contain;
            }   
            .description{
                position: relative;
                top: 50px;
            }
            .title{
                font-family: 'couture-bld', sans-serif;
                font-size: 20px;
                color: black;
            }
            .price{
                font-family: 'couture-bldit', sans-serif;
                font-size: 22px;
                color: var(--simple-dark-green);
            }
            span{
                position: relative;
                top: 50px;
                font-size: 50px;
                :hover{
                    cursor: pointer;
                    color: var(--simple-green);
                }
            }

            @media (max-width: 500px) {
                .tilte{
                    font-size: 15px;
                }
                .price{
                    font-size: 17px;
                }
            }
        }
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    
}

.hero-content{
    color: black;
    font-family: sans-serif;
    font-style: bold;
    text-align: center;

    padding-bottom: 200px;
}

.diet-selection{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    width: 100%;

    p{
        position: absolute;
        margin-top: 100px;
    }

    label{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    input[type="checkbox"] {
        display: none;
      }
      
      input + label {
        display: inline-block;
        border: 2px solid rgba(4, 3, 3, 0.62);
        padding: 8px 20px 8px 45px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
      }
      
      input + label::after {
        position: absolute;
        content: '';
        opacity: 0.5;
        left: 16px;
        top: 7px;
        width: 18px;
        height: 18px;
        line-height: 1;
        border: 2px solid rgba(4, 3, 3, 0.62);
        border-radius: 50%;
      }
      
      input + label::before {
        font-size: 17px;
        position: absolute;
        left: 24px;
        top: 6px;
        opacity: 0;
      }

      input:hover + label{
        box-shadow: 0px 4px 15px 0px rgba(34, 34, 34, 0.41);
        border-color: #fff;
        background: #fff;
        color: #333;
      }
      
      input:checked + label {
        box-shadow: 0px 4px 15px 0px rgba(34, 34, 34, 0.41);
        border-color: #fff;
        background: #fff;
        color: #333;
      }
      
      input:checked + label::before {
        opacity: 1;
      }
      
      input:checked + label::after {
        opacity: 1;
        border-color: #333;
      }
}

#cart {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    width: 700px;
    
    .cart-grid {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        left: 50%;

        font-family: 'Open Sans', sans-serif;
        background-color: var(--simple-grey);
    }

    .cart-item{
        display: flex;
        font-weight: bold;
        font-size: small;
        align-items: center;
        margin: 10px;
            .image{
                top: 10px;
                left: 20px;
                max-width: 20%;
                max-height: 20%;
            }
        
            .name{
                position: absolute;
                left: 30%;
            }
        
            .price{
                position: absolute;
                right: 20px;
            }
            .quantity{
                position: absolute;
                left: 60%;
            }
            
            .item-add-button{
                position: absolute;
                height: 30px;
                width: 30px;
                right: 22%;
            }

            .item-remove-button{
                position: absolute;
                height: 30px;
                width: 30px;
                right: 15%;
            }
        }
    .cart-bottom{
        display: flex;
        flex-direction: column;

        button{
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-decoration: none;
        }
    }
}

/*Slider*/
.banner-container{
    position: relative;
    height: 650px;
    width: 100vw;
    top: 0;
}

.slider{
        position: relative;
        display: flex;
        width: 100vw;
        height: 100%;
        overflow: hidden; /* <===  */
            
            .slide {
                height: 100%;
                min-width: 100%;
                transition: all 0.5s;
                object-fit: cover;
            }
            
            .slide img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .img-1{
                object-position: top;
            }

            .slide-text {
                position: fixed;
                top: 50%;
                left: 20%;
                transform: translate(0, -50%);
                transition: opacity 0.5s;
                color: white;

                .txt-1{
                    font-family: 'couture-bld', sans-serif;
                    font-size: 30px;
                    letter-spacing: 3px;
                }

                .txt-2{
                    font-family: 'couture-bld', sans-serif;
                    font-size: 50px;
                    letter-spacing: 3px;
                }

                button{
                    font-family: 'couture-bld', sans-serif;
                    font-size: 20px;
                    letter-spacing: 3px;
                    padding: 10px;
                    margin-top:50px;
                    border-radius: 10px;
                    background-color: rgba(0,0,0,0.5);
                    color: white;
                    text-decoration: none;
                }
            }

            .btn{
                transform: translateY(-50%);
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(0,0,0,0.5);
                color: white;
                font-size: 20px;
                text-align: center;
            }
            
            .btn:active {
                transform: scale(1.1);
            }

            .btn-prev {
                top: 50%;
                left: 2%;
            }
            
            .btn-next {
                top: 50%;
                right: 2%;
            }
            
}

/* Footer content */
.footer{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 13px;
    z-index: 100;

    bottom: 0;
    left: 0;
    height: 50px;

    background-color: rgba(0,0,0,0.77);
    color: white;

    font-size: 0.8rem;
}

.signature{
    font-family: 'couture-bld', sans-serif;
    color : white;
    padding-left: 10px;
}

.github-redirect{
    font-family: 'couture-bld', sans-serif;

    position: absolute;
    right: 10px;

    cursor: pointer;
       
}
