<!DOCTYPE html>
<html lang="en">

<!-- The head should contain an appropriate title for your site -->
<head>
    <title>Barber Bros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Your own additional style sheet -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/guideline.css">
    <link rel="stylesheet" href="../styles/booking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Additional fonts -->
        <!--Monserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--Scripts-->
        <!--Main-->
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/booking.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-transparent justify-content-center fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/imgs/logo.png" alt="Logo" style="width:40px;">
            </a>
            <ul class="navbar-nav">
                
                <li class="nav-item bg-transparent">
                    <a class="nav-link" href="#about-us-section">About Us</a>
                </li>
                <li class="nav-item bg-transparent">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item bg-transparent">
                    <a class="nav-link" href="#barber-team">Our Barbers</a>
                </li>
                <li class="nav-item bg-transparent">
                    <a class="nav-link" href="#location">Find Us</a>
                </li>
                <li class="nav-item bg-transparent booking-button">
                    <a
                        name=""
                        id="booking-btn"
                        class="btn btn-primary"
                        href="#services"
                        role="button"
                        >Book us</a
                    >
                </li>
            </ul>
        </nav>
    
        <!-- Banner img -->
        <div class="banner-image">
            <img class="img" src="../imgs/barber-banner.png" alt="Banner">

            <div class="slide-text">
                <p class="title">The Barber Bros</p>
                <p class="subtitle">Best in Ottawa</p>
            </div>
        </div>
    </header>

    <!--Page content-->
    <div class="content">
        <div class="quick-view">
            <div class="row">
                <div class="col p-5 panel1">
                    <div class="container">
                        <i class="fa fa-eye" aria-hidden="false"></i>
                        <h3>Hair Consultation</h3>
                        <p>Get feedback and recommendations from our top hairstylists. Satisfaction 100% guaranteed. </p>
                        <a href="#services">Read more</a>
                    </div>
                </div>
                <div class="col p-5 panel2">
                    <div class="container">
                        <i class="fa fa-scissors" aria-hidden="false"></i>
                        <h3>Hair Cuts</h3>
                        <p>Adult cuts, wet cuts, cut and shampoo, and trimmings.
                            If you need it, we'll do it.
                        </p>
                        <a href="#services">Read more</a>
                    </div>
                </div>
                <div class="col p-5 panel3">
                    <div class="container">
                        <i class="fa fa-paint-brush" aria-hidden="false"></i>
                        <h3>Hair Dying</h3>
                        <p>Hair colouring, highlights, balayage and foilyage.
                            There exists no colour that we can't dye.
                        </p>
                        <a href="#services">Read more</a>
                    </div>
                </div>
            </div>
            <div class="row booking-preview">
                <div class="col mx-5 my-2"><h4>Book an appointment today</h4></div>
                <div class="col my-2"><a
                    name=""
                    id="booking-btn"
                    class="btn btn-primary"
                    href="#services"
                    role="button"
                    >Book us
                    </a></div>
                
            </div>
        </div>
        <!-- A container for the about us section -->
        <div class="about-us my-4" id="about-us-section">
            <div class="row mx-5 mt-3">
                <div class="col" id = "about-txt">
                    <h1>The Barber Bros</h1>
                    <p>Barber Bros has been in business for over 20 years and we have a team of experienced barbers. 
                        We offer a variety of services and are open 7 days a week. We are located in the heart of downtown Ottawa and are easily 
                        accessible by public transit. We are committed to providing the best service to our clients and are always looking for ways 
                        to improve. </p>
                    </div>
                <div class="col" id="about-img">
                    <img src="../imgs/front.png" alt="">
                </div>
            </div>
        </div>

    <!-- Our barbers section -->
    <div class="barber-team" id="barber-team">
        <div class="team-header">
            <div class="col mx-5 my-2"><h4>Meet our talent</h4></div>
                <div class="col my-2">
                    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#mechanics">The Bros</button>
                </div>
        </div>
        <div id="mechanics" class="collapse">
            <div class="barber-container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card bg-transparent">
                            <img class="card-img-top" src="../imgs/man1.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Vincent Vega</h4>
                                <p class="card-text">Haircuts, styling and consultations</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3">
                        <div class="card bg-transparent">
                            <img class="card-img-top" src="../imgs/man2.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Jule Winfield</h4>
                                <p class="card-text">Haircuts, styling and dyes.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3">
                        <div class="card bg-transparent">
                            <img class="card-img-top" src="../imgs/man3.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Butch Coolid</h4>
                                <p class="card-text">Haircuts, dyes and consultation</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3">
                        <div class="card bg-transparent">
                            <img class="card-img-top" src="../imgs/man4.jpeg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Marsell Wall</h4>
                                <p class="card-text">Haircuts, styling and dyes.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Booking section-->
    <div class="booking-section" id="services">
        <div class="page-header">
            <h1 class="page-title">Services</h1>
            <p class="page-desc">Select one of our services below to book with our professionals.</p>

            <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="booking-modal-container">
                
            </div>
        </div>

        <!-- A container for the services offered -->
        <!-- i dont think a table will be the best design ideabut im leaving it here for now-->
        <div class="services-container">

        </div>
    </div>

    <!-- map section -->
    <div class="map" id="location">
        <div class="row">
            <div class="col" id="map-img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2800.134505835733!2d-75.69368492266281!3d45.42678987107334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce050228db6cbd%3A0x812f6242f4debecb!2s123%20Rideau%20St%2C%20Ottawa%2C%20ON%20K1N%205X4!5e0!3m2!1sen!2sca!4v1707531326091!5m2!1sen!2sca" 
                width="1000" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
            <div class="col" id="location-desc">
                <h4>Location</h4>
                <p>123 Rideau St, Ottawa ON</p>
                <p>Phone: (613)-123-4567</p>

                <h4>Opening Hours</h4>
                <p>Monday - Friday: 9am - 7pm</p>
                <p>Saturday - Sunday: 10am - 5pm</p>
            </div>
        </div>
    </div>

    <!-- ChatBot section -->
    <div class="bot-container" id="bot-container">
        <div>
            <div class="chatbot-content">
                <div class="chatbot-close">
                    <button onclick="closeChatbot()"><i class="fa fa-close"></i></button>
                </div>
                <iframe
                allow="microphone;"
                width="350"
                height="440"
                src="https://console.dialogflow.com/api-client/demo/embedded/90aadc4e-315f-4e29-9380-e8400700f62b">
            </iframe>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="btn btn-primary scrolltop" id="scrolltop">
            <i class="fa fa-arrow-up px-2 py-2" aria-hidden="true"></i>
        </div>
        <label id="chat-btn-container">
            <input type="checkbox" id="chat-btn">
            <span class=""><i class="fa fa-wechat px-2 py-2" aria-hidden="true"></i></span>
        </label>

        <div class="locations">
            <div class="location">
                <div class="img"></div>
                <div class="desc"></div>
            </div>
            <div class="location">
                <div class="img"></div>
                <div class="desc"></div>
            </div>
            <div class="location">
                <div class="img"></div>
                <div class="desc"></div>
            </div>
            <div class="location">
                <div class="img"></div>
                <div class="desc"></div>
            </div>
        </div>

        <div class="separator"></div>
        
        <div class="content-wrapper">
            <div class="row">
                <div class="col contact-info">
                    <h4>Contact us</h4>
                    <p>Phone: 613-123-4567</p>
                    <p>Email: barberbros@gmail.com
                </div>
                <div class="col service-info">
                    <h4>Services</h4>
                    <p><a href="#services">Hair Consultation</a></p>
                    <p><a href="#services">Hair Styling</a></p>
                    <p><a href="#services">Hair Cuts</a></p>
                    <p><a href="#services">Hair Dying</a></p>
                </div>
                <div class="col socials-info">
                    <h4>Socials</h4>
                    <p><i class="fa fa-facebook"></i> Facebook</p>
                    <p><i class="fa fa-instagram"></i>Instagram</p>
                    <p><i class="fa fa-twitter-square"></i>Twitter</p>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="top">
            <div class="credits">
                <span>Made by Tevin, Christian and Oscar</span>
            </div>
        </div>
        <div class="separator"></div>
    </footer>
    
    <!--Bootstrap scripts-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

<script>
    function closeChatbot() {
        document.getElementById('bot-container').style.display = 'none';
        document.getElementById('chat-btn-container').style.display = 'block';
        document.getElementById('chat-btn').checked = false;
    }
</script>
</html>