#cart {
    top: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;

    .grid-section{
        height: 100vh;
        width: 100vw;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    input{
        display: block;
    }

    .navigation{
        position: fixed;
        width: 100vw;
        z-index: 1000;
        top: 100px;
        pointer-events: auto;
    }

    .progress-container{
        position: fixed;
        top: 60px;
        left: 50%;
        z-index: 1000;
        transform: translate(-50%, 0);
    }
    
    .cart-grid {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 500px;
        min-height: 500px;

        font-family: 'Open Sans', sans-serif;
        background-color: var(--simple-grey);
    }

    .cart-item.total{
        border-bottom: transparent;
    }

    .cart-item{
        display: flex;
        font-weight: bold;
        font-size: small;
        align-items: center;
        margin: 20px;
        border-bottom: 1px solid black ;
            .image{
                top: 10px;
                left: 20px;
                max-width: 50px;
                max-height: 50px;
            }
        
            .name{
                position: absolute;
                left: 25%;
            }
        
            .price{
                position: absolute;
                right: 20px;
            }
            .quantity{
                position: absolute;
                left: 40%;
            }
            
            .item-add-button{
                position: absolute;
                height: 30px;
                width: 30px;
                right: 28%;
            }

            .item-remove-button{
                position: absolute;
                height: 30px;
                width: 30px;
                right: 21%;
            }
    }

    .cart-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button{
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-decoration: none;
        }
    }
    
    .billing-grid{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--simple-grey);

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white;
            padding: 60px;
            border-radius: 10px;
            min-width: 400px;
            max-width: 600px;

            label {
                position: relative;
                display: flex;
                left: 0;
                align-items: center;
                margin-bottom: -18px;
            }

            i{
                margin-right: 10px;
            }

            input{
                padding: 10px;
                border-radius: 10px;
                border: 1px solid var(--simple-grey);
            }
        }
    }

    .payment-grid{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--simple-grey);

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white;
            padding: 60px;
            border-radius: 10px;
            min-width: 400px;
            max-width: 600px;

            label {
                position: relative;
                display: flex;
                left: 0;
                align-items: center;
                margin-bottom: -18px;
            }
            
            i{
                margin-right: 10px;
            }

            .icon-container{
                font-size: 40px;
            }

            input{
                padding: 10px;
                border-radius: 10px;
                border: 1px solid var(--simple-grey);
            }
        }
    }

    .confirmation-grid{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--simple-grey);

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white;
            padding: 60px;
            border-radius: 10px;
            min-width: 400px;
            max-width: 600px;

            label {
                position: relative;
                display: flex;
                left: 0;
                align-items: center;
                margin-bottom: -18px;
            }

            i{
                margin-right: 10px;
            }

            button{
                position: relative;
                width: 100px;
                height: 50px;
                left: 30%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid var(--simple-grey);
            }
        }
    }

    .container{
        position: absolute;
    }
}